html,
body
{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.borderRounded {
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}
.borderRounded:hover {
    transform: scale(1.2);
}
.ImageSize{
  width: 100px;
  height: 500px;
}
.waterMark {
 background-image : url("../public/assets/logo.png");
 background-color : #1e1e1e;
 height : 20rem;
 background-size: 100px 100px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.slider {
    position: relative;
}

.slide {
    opacity: 0;
    transition: 1s ease-in-out;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
}

.indicators{
    position: absolute;
    bottom : 1rem;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dots{
    border-radius: 100%;
    background-color: #fff;
    border: 1px solid #f08a5d;
    width : 1.7rem;
    height: 1.7rem;
    margin: 1rem;
}

.activeDot{
    background-color: #f08a5d;
}

.dots:hover{
    background-color: #f08a5d;
}
